<div class="container">
<h3>Tweets from Users you Follow:</h3>

<div class="tweet_container">
  <table>
    <% @tweets.each do |tweet| %>
      <div class="clearfix">
        <!-- <a href="/profile/<%= tweet.user.handle %>" class="grav_link"> -->
          <img class="grav_small" src=" <%= tweet.user.user_gravitar_url%> ">
          <p id="tweet"><font size=0.5em><%= tweet.get_time  %></font><br><%= tweet.message %> <font color=red><%= random_fortunes %></font><p>
        <!-- </a> -->
      </div>
    <% end %>
  </table>

</div>