<!-- <div id="title"> Fortune cookie + twitter. </div> -->

<div class="container">
  <h3> List all users </h3>

  <% @users.each do |user| %>
    <li> Handle: <a href="/profile/<%= user.handle %>"><%= user.handle %></a> </li>
    <li> Fullname: <%= user.name %> </li>
      <% f_id = current_user.following.map { |followee| followee.id } %>

      <% if !(f_id.include?(user.id)) %>
        <form action='/follow/<%= user.handle %>' method='post'>
          <button type="submit">Follow</button>
        </form><br>
    <% elsif f_id.include?(user.id)%>
      <form action='/unfollow/<%= user.handle %>' method='post'>
        <button type="submit">Unfollow</button>
      </form><br>
    <% end %>
    <hr>
  <% end %>
</div>