
<div id="title"> Fortune cookie + twitter. </div>
<div class="profile container">
  <h2><%= @user.handle %></h2>
  <h3><%= @user.name %></h3>

<% if not_my_page? && !following? %>
  <form action='/follow/<%= @user.handle %>' method='post'>
    <button type="submit">Follow</button>
    </form><br>
<% elsif not_my_page? && following? %>
  <form action='/unfollow/<%= @user.handle %>' method='post'>
    <button type="submit">Unfollow</button>
    </form><br>
<% end %>


  <a href="/profile/<%= @user.handle %>/followers">Followers</a><br>

  <a href="/profile/<%= @user.handle %>/following">Following</a><br>

<h3>Send a tweet!</h3>
  <form action='/tweet' method='post'>
    <input type='text' name='message'>
    <input type='submit' value='Tweet'>
  </form>

  <h3>Your tweets:</h3>
  <ul>
    <% @tweets.each do |tweet| %>
      <li><%= tweet.message  %></li>
    <% end %>
  </ul>
</div>