<div class="profile container">
  <h3><%= @user.handle %><br>
  <%= @user.name %></h3>

  <p><a href="/profile/<%= @user.handle %>/followers">Followers</a></p><br>
  </p>

  <p><a href="/profile/<%= @user.handle %>/following">Following</a></p><br>

<h3>Send a tweet!</h3>
  <form action='/tweet' method='post'>
    <input type='text' name='message'>
    <input type='submit' value='Tweet'>
  </form> 

  <h3>Your tweets:</h3>
  <ul>
    <% @tweets.each do |tweet| %>
      <li><%= tweet.message  %></li>
    <% end %>
  </ul>
</div>