
<!-- <div id="title"> <h3>Profile</h3> </div> -->

<div class="profile container">
  <div class="profile_header">
    <h2><%= @user.handle %></h2>
    <!-- <h3><%= @user.name %></h3> -->

    <% if not_my_page? && !following? %>
      <form action='/follow/<%= @user.handle %>' method='post'>
        <button type="submit">Follow</button>
        </form><br>
    <% elsif not_my_page? && following? %>
      <form action='/unfollow/<%= @user.handle %>' method='post'>
        <button type="submit">Unfollow</button>
        </form><br>
    <% end %>

    <a href="/profile/<%= @user.handle %>/followers">Followers <%= @user.follower_count %></a><br>

    <a href="/profile/<%= @user.handle %>/following">Following <%= @user.following_count %></a><br>
  </div>

  <!--############## TWEET INPUT ##########-->

  <div class="tweet_form">
    <h3>Send a tweet!</h3>
    <form action='/tweet' method='post'>
      <input class="text_input" type='text' name='message'>
      <input type='submit' value='Tweet'>
    </form>
  </div>
</div>
  <!--############## TWEET LIST ##########-->
<div id="title"> <h3>Tweets:</h3> </div>

<div class="tweet_container">
  <table>
      <% @tweets.each do |tweet| %>
        <p id="tweet"><font size=0.5em><%= tweet.get_time  %></font><br><%= tweet.message %> <font color=red><%= random_fortunes %></font><p>
      <% end %>
  </table>
</div>