
<!-- <div id="title"> <h3>Profile</h3> </div> -->

<div class="profile container">
  <div class="profile_header">
    <h2><%= @user.handle %></h2>
    <!-- <h3><%= @user.name %></h3> -->

    <% if not_my_page? && !following? %>
      <form action='/follow/<%= @user.handle %>' method='post'>
        <button type="submit">Follow</button>
        </form><br>
    <% elsif not_my_page? && following? %>
      <form action='/unfollow/<%= @user.handle %>' method='post'>
        <button type="submit">Unfollow</button>
        </form><br>
    <% end %>

    <a href="/profile/<%= @user.handle %>/followers">Followers <%= @user.follower_count %></a><br>

    <a href="/profile/<%= @user.handle %>/following">Following <%= @user.following_count %></a><br>
  </div>

  <!--############## TWEET INPUT ##########-->

  <div class="tweet_form">
    <h3>Send a tweet!</h3>
    <form action='/tweet' method='post'>
      <input class="text_input" type='text' name='message'>
      <input type='submit' value='Tweet'>
    </form>
  </div>

  <!--############## TWEET LIST ##########-->


  <div class="tweet_list">
    <h3>Your tweets:</h3>
    <ul>
      <% @tweets.each do |tweet| %>
        <li>
          <p><%= tweet.created_at.strftime("%m/%d/%y at %I:%M%p")  %></p><%= tweet.message  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>